.container {
  background-color: rgb(24, 209, 138);
}
.row {
  background-color: blueviolet;
  height: 300px;
}
.row div {
  text-align: center;
  height: 50px;
}
.row div:nth-child(odd) {
  background-color: rgb(235, 185, 59);
}

.row div:nth-child(even) {
  background-color: rgb(191, 56, 78);
}
